<div class="tree-row">
    <div class="disclose fa fa-fw" ng-class="{'fa-caret-right': collapsed, 'fa-caret-down': !collapsed, hidden: !model.items.length}" ng-click="toggle(this)"></div>
    <div typi-btn-delete action="deleteFromNested(this)"></div>
    <a class="btn btn-light btn-xs" href="menulinks/{{ model.id }}/edit" translate>Edit</a>
    <div typi-btn-status action="toggleStatus(model)" model="model" locale="TypiCMS.content_locale"></div>
    <div class="title" ui-tree-handle>{{ model.title_translated }}</div>
</div>
<ul ui-tree-nodes="" ng-class="{hidden: collapsed}" ng-model="model.items">
    <li ng-repeat="model in model.items" ui-tree-node ng-include="'/views/partials/listItemMenulink.html'">
    </li>
</ul>
